---
title: タイトル１ああ
date: 0000-01-01
layout: layout
tags: カテゴリー1,着手中
var: filenaaaaaa
scripts: [a.js, b.js]

---

<%= current_page.data.var %>
<div class="articleBody clearfix">
	<p>タイトル１の文章タイトル１の文章タイトル１の文章タイトル１の文章タイトル１の文章タイトル１の文章</p>
</div>


