---
#### 【必須】リストで使うデータ （tags[1] -> カテゴリー, tags[2] -> 画面ID, tags[3] -> ステータス）####
title: タイトル3
date: 0000-01-01
layout: layout
tags: カテゴリー3, ID234567, 未着手

#### 【必須】ページでユニークで読み込むcssとjs。配列で渡してlayoutで複数ファイルの読み込みが可能 ####
css: []
scripts: []

#### 【任意】ページでユニークで使えるfrontmatter ####
var2: aaa
nanikaFlag: true

---
<%= current_page.data.var2 %><br>
<%= current_page.data.var %>
<div class="articleBody clearfix">
	<p>タイトル１の文章タイトル１の文章タイトル１の文章タイトル１の文章タイトル１の文章タイトル１の文章</p>
</div>
<%= data.hoge2.desc %>