---
title: タイトル２
date: 0000-01-01
layout: layout
tags: カテゴリー2,おわった
nanika: nanikaという変数
scripts: []

---

<%= current_page.data.nanika %>
<div class="articleBody clearfix">
	<p>タイトル１の文章タイトル１の文章タイトル１の文章タイトル１の文章タイトル１の文章タイトル１の文章</p>
</div>


